/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;800&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #acebf2;
  --text-color: #2b2d42;
  --wrapper-color: #f27405;
  --screen-color: #04bfbf;
  --operator-bg: #f2b950;
  --shadow: 0 9px 15px -3px rgba(0, 0, 0, 0.636) inset 4px 4px 15px 0px #000000;
}

body {
  height: 100vh;
  background: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Orbitron", sans-serif;
}

/* Titre du Projet */
.title {
  color: var(--text-color);
  font-weight: 800;
  font-size: 0.7rem;
  margin-bottom: 2rem;
  text-align: right;
}

/* Container de la Calculatrice */
.wrapper {
  background: var(--wrapper-color);
  width: 20rem;
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 1rem;
  box-shadow: var(--shadow);
}

/* Ecran de la calculatrice */
.screen {
  background: var(--screen-color);
  color: #e9f0f4;
  height: 4rem;
  margin-bottom: 4rem;
  border-radius: 0.5rem;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.button {
  background: #e9f0f4;
  height: 3.5rem;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #2b2d42;
  border: none;
  font-size: 1.5rem;
}

.button:hover {
  border: 2px dotted var(--text-color);
}

.equal {
  background: #99d959;
  grid-column: 3 / 5;
}

.operator {
  background: var(--operator-bg);
  color: var(--text-color);

}
