/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Orbitron", sans-serif;
}

/* Titre du Projet */
.title {
  color: #2b2d42;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

/* Container de la Calculatrice */
.wrapper {
  background: #f6f8f9;
  width: 20rem;
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 1rem;
  box-shadow: 0 9px 15px -3px rgba(0, 0, 0, 0.1);
}


/* Ecran de la calculatrice */
.screen {
  background: #f4f4f4;
  height: 4rem;
  margin-bottom: 4rem;
}
